@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1920px;
    height: 6853px;
}
header{
    background-color: #fff;
    height: 145px;
    display: flex;
}
.logo{
    padding-top: 30px;
    padding-left: 120px;
}
nav{
    padding-top: 55px;
    padding-left: 635px;
}
nav a{
    color: #5B5B5B;
    font-size: 22px;
    font-family: 'Poppins';
    letter-spacing: 0.44px;
    text-decoration: none;
    padding-right: 77px;
}
nav a:hover{
    text-decoration: underline;
}
.account{
    padding-top: 40px;
}
.Lina{
    color: #000;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 500;
    letter-spacing: 0.36px;
    padding-top: 58px;
    padding-left: 15px;
}
.down{
    color: #000;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.36px;
    padding-top: 63px;
    padding-left: 12px;
}

.welcome{
    width: 100%;
    height: 785px;
    background-color: #EBF5FF;
}
.text-welcome{
    display: flex;
}
.welcome h1{
    width: 966px;
    color: #252641;
    font-size: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 50px 0 0 120px;
}
.welcome .view-history{
    color: #49BBBD;
    font-size: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 68px;
    margin-left: 720px;
    text-decoration: none;
}
.welcome .view-history:hover{
    text-decoration: underline;
}
.lesson{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 50px;
    margin-left: 120px;
    margin-right: 113px;
}
.lesson1{
    width: 529px;
    height: 474px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 18.829999923706055px 47.08000183105469px 0px rgba(47, 50, 125, 0.10);
}
.lesson1 .img-lesson{
    margin-top: 19.6px;
    margin-left: 20.73px;
}
.lesson1 p{
    width: 412px;
    height: 48px;
    color: #252641;
    font-size: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: 180%;
    margin-top: 12.03px;
    margin-left: 25px;
}
.lina2{
    display: flex;
}
.lina2 .img-lina{
    width: 42px;
    height: 42px;
    margin: 10px 15px 25px 25px;
}
.lina2 span{
    width: 42.73px;
    height: 30.361px;
    color: #000;
    font-size: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.36px;
    margin-top: 16px;
}
.lesson1 .hr{
    display: flex;
    margin-left: 25px;
    margin-bottom: 12px;
}
.lesson1 small{
    width: 93px;
    height: 27px;
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.28px;
    margin-left: 414px;
}
.icon-left-right{
    display: flex;
    margin-top: 50px;
    margin-left: 1687px;
}
.icon-left{
    width: 50px;
    height: 50px;
    background-color: #49BBBD;
    margin-right: 20px;
    padding: 17px 20px;
    border-radius: 6px;
}
.icon-left:hover{
    background-color: #49BBBD80;
}
.icon-right{
    width: 50px;
    height: 50px;
    background-color: #49BBBD;
    padding: 17px 20px;
    border-radius: 6px;
}
.icon-right:hover{
    background-color: #49BBBD80;
}
.choice-favourite{
    width: 100%;
    height: 1121px;
    background-color: #FFF;
}

.recommended{
    width: 100%;
    height: 1022px;
    background-color: #EBF5FF;
}

.get-choice{
    width: 100%;
    height: 2243px;
    background-color: #FFF;
}

.student-viewing{
    width: 100%;
    height: 946px;
    background-color: #EBF5FF;
}

footer{
    width: 1920px;
    height: 593px;
    background: #252641;
}
.logo2{
    display: flex;
    padding-top: 74px;
}
.logo-footer{
    padding-left: 766px;
    padding-right: 77px;
}
.logo2 p{
    width: 156px;
    color: #FFF;
    font-size: 22px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.88px;
    padding-top: 9px;
    margin-left: 41px;
}
.sub p{
    color: #B2B3CF;
    text-align: center;
    font-size: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.04px;
    margin-top: 95px;
}
form{
    text-align: center;
    margin-top: 20px;
}
form input{
    width: 400px;
    height: 60px;
    border-radius: 80px;
    border: 1px solid #83839A;
    background: #252641;
    color: #83839A;
    font-size: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    padding-left: 30px;
}
form input:hover{
    border: 1px solid #49BBBD;
}
form button{
    width: 179px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 60px;
    background: #49BBBD;
    color: #FFF;
    font-size: 22px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 20px;
}
form button:hover{
    background: #fff;
    color: #49BBBD;
}
.about{
    display: flex;
    margin-top: 96px;
    justify-content: center;
}
.about p{
    color: #B2B3CF;
    text-align: center;
    font-size: 22px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.88px;
    padding: 0 20px;
}
.about p:hover{
    text-decoration: underline;
}
.about hr{
    margin-top: 9px;
}
.copyright{
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: center;
}
.copyright p{
    color: #B2B3CF;
    text-align: center;
    font-size: 22px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.88px;
}